* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-image: linear-gradient( to bottom right, rgb(8, 15, 121),rgb(32, 132, 226));
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video{
        width: auto;
        height: 100%;
    }
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: 800px;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #fda500;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 420px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 70px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 100px;
    width: 100px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 25px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 230px;
}



.calculator {
    background-color: #fff;
   
}

.calculator #display {
    color: #000000;
}

.calculator button#clear {
    background-color: #000000;
    color: #ffffff;
}

.calculator button.btn-number {
    background-color: #928b8b;
    color: #ffffff;
}

.calculator button.btn-operator {
    background-color: #35f8ff;
    color: #000000;
  }
  
  .calculator button.btn-equal {
    background-color: #000000;
    color: #ffffff;
  }



  .calculator.dark {
    background-color: #000000;
  }

  .calculator.dark #display {
    color: #f8fafb;
  }

  .calculator.dark button#clear {
    background-color: #fcfcfc;
    color: #000000;
  }

  .calculator.dark button.btn-number {
    background-color: #363636;
    color: #f8fafb;
  }

  .calculator.dark button.btn-operator {
    background-color: #fda500;
    color: #000000;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #ffffff;
    color: #000000;
  }